@layer utilities {

    /* Hide scrollbar but allow scrolling */
    :root {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
    }

    :root::-webkit-scrollbar {
        display: none;
    }

    #scroll-watcher {
        @apply bg-primary-400 fixed top-0 z-50 w-full h-1 transform;
        transform-origin: left;
        animation: scroll-watcher 1s linear;
    }

    @keyframes scroll-watcher {
        to {
            transform: scaleX(1);
        }
    }
}

body {
    @apply scroll-smooth;
}




#scrollToTop {
    @apply hidden fixed bottom-14 right-5 z-50 text-xl border-none outline-none bg-primary-600 dark:bg-primary-400 hover:bg-primary-400 hover:dark:bg-primary-700 text-white cursor-pointer p-2 sm:p-3 rounded-full hover:opacity-100 transition;
}