// Main Image Width and Height
$main-width: 65%; //Adjust the width percentage as needed
$main-height: auto; // Automatically calculate the height to maintain aspect ratio
$main-margin: auto; // Center the image horizontally