<!-- Shortcut icon for browsers -->
<link rel="shortcut icon" href="/Favicons/favicon.ico" />
<!-- General icon for browsers -->
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/Favicons/favicon.png" />
<!-- Apple touch icons for iOS devices -->
<link rel="apple-touch-icon" sizes="152x152" href="/Favicons/favicon-152-precomposed.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/Favicons/favicon-144-precomposed.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/Favicons/favicon-120-precomposed.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/Favicons/favicon-114-precomposed.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/Favicons/favicon-180-precomposed.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/Favicons/favicon-72-precomposed.png" />
<link rel="apple-touch-icon" href="/Favicons/favicon-57.png" />
<!-- Standard favicon for browsers -->
<link rel="icon" href="/Favicons/favicon-32.png" sizes="32x32" />
<!-- Additional sizes for Android devices -->
<link rel="icon" sizes="192x192" href="/Favicons/favicon-192.png" />
