// Light Theme

@layer base {
    /* Import Google Fonts */
    @import url(https://fonts.googleapis.com/css?family=Varela|Exo);

    /* Global CSS Variables */
    :root {
        --tw-border-opacity: 1;

        /* Color Palette */
        --neutral: 0 23 16;
        --primary: 208 0 255;
        --secondary: 0 75 255;
        --accent: 0 174 47;
        --base: 248 255 255;
        --info: 0 154 255;
        --success: 108 164 0;
        --warning: 184 104 0;
        --error: 223 0 36;

        /* Font Families */
        --heading: 'Varela';
        --body: 'Exo';
    }
}