<div id="search-modal" tabindex="-1" class="animate-fadeIn hidden">
  <div id="main-container">
    <div id="form-wraper">
      <form>
        <div id="search-wraper">
          <button id="search-icon" type="button">
            {{ $context := dict
              "vendor" "bootstrap"
              "name" "search"
            }}
            {{ partial "icons/icon" $context }}
          </button>
          <input type="search" id="default-search" placeholder="Search ..." required />
          <button data-modal-hide="search-modal" type="button" id="close">
            {{ $context := dict
              "vendor" "font-awesome-solid"
              "name" "xmark"
            }}
            {{ partial "icons/icon" $context }}
          </button>
        </div>
      </form>
    </div>
    <div id="result-wraper">
      <section>
        <ul id="search-results">
          <!-- Results will be dynamically populated here -->
        </ul>
      </section>
    </div>
  </div>
</div>
